.weather-form {
  width: 100%;
  max-width: 500px;
  margin: 10rem auto;
}

.weather-form__row {
  margin-bottom: 3rem;
}

.weather-form__label {
  width: 100%;
  display: block;
  font-size: 2 rem;
  margin-bottom: 0.2rem;
}

.weather-form__input {
  width: 100%;
  display: block;
  padding: 0.5 rem 0.5 rem;
  background: #03032c;
  color: white;
  border: 4px solid #f1abec;
  font-size: 4 rem;
  border-radius: 0.5rem;
}

.weather-form__submit {
  display: block;
  margin: 0 auto;
  padding: 0.25 rem 0.25 rem;
  font-size: 1 rem;
}
