.weather-form {
  width: 100%;
  max-width: 500px;
  margin: 5rem auto;
}

.weather-form__row {
  margin-bottom: 6rem;
}

.weather-form__label {
  width: 100%;
  display: block;
  font-size: 30px;
  margin-bottom: 0.2rem;
}

.weather-form__input {
  width: 100%;
  display: block;
  padding: 1rem;
  background: #0e0402;
  color: white;
  font-size: 20px;
}

.weather-form__submit {
  box-shadow: 0px 4px 6px -3px #070201;
  background-color: #0e0402;
  border-radius: 31px;
  display: block;
  margin: 0 auto;
  cursor: cell;
  color: #ffffff;
  font-size: 20px;
  padding: 20px 46px;
  text-decoration: none;
  text-shadow: 0px 0px 0px #302b2a;
}
